.slider {
  display: block;
  width: 567px;
  margin-top: 200px;

  &__header {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    color: $white;
  }

  &__text {
    display: block;
    width: 522px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $gray;
  }

  &__footer {
    display: flex;
    width: 400px;
  }

  &__footer-button {
    margin-right: 50px;

    & button {
    background-color: $primary;
    width: 187px;
    height: 61px;
    border: 0;
    border-radius: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $white;
    }
  }

  &__footer-play {
    display: inline-block;
    background-image: url("../img/play.svg");
    background-size: contain;
    background-repeat: no-repeat;

    & button {
      border: 0;
      background: none;
      width: 168px;
      height: 61px;
      padding-left: 65px;
      vertical-align: middle;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: $white;
    }
  }
}